*{
     margin: 0px;
     padding: 0px;
}

#progress{
     width: 200px;
     height: 20px;
     top: 690px;
     left: 10px;
     z-index: 9;
     position: absolute;
}

#lake{
     width: 1535px;
     height: 710px;
     position: absolute;
     z-index: 1;
     background-image: url("img/lake-bg.jpg");
}

#sand1{
     width: 1535px;
     height: 710px;
     position: absolute;
     z-index: 5;
     background-image: url("img/sand-bg-1.png");
}

#sand2{
     width: 1535px;
     height: 710px;
     position: absolute;
     z-index: 3;
     background-image: url("img/sand-bg-2.png");
}

#fish1{
     width: 1535px;
     height: 180px;
     position: absolute;
     z-index: 2;
     top: 180px;
     background-image: url("img/fish-1.png");
}

#fish2{
     width: 1535px;
     height: 177px;
     position: absolute;
     z-index: 2;
     top: 0px;
     background-image: url("img/fish-2.png");
}


#tadpole{
     width: 100px;
     height: 50px;
     position: absolute;
     z-index: 6;
     background-image: url("img/tadpole-left.png");
     /* border: 2px solid green; */
}

.dragonfly{
     width: 100px;
     height: 45px;
     position: absolute;
     z-index: 6;
     /* top: 650px;
     right: 0px; */
     background-image: url("img/dragonfly-right.png");
     /* border: 2px solid red; */
}

#btn{
     position: absolute;
     z-index: 9;
     top: 650px;
     left: 75px;
}

#message{
     position: absolute;
     z-index: 9;
     width: 500px;
     height: 150px;
     left: 500px;
     top: 300px;
     text-align: center;
     color: rgb(255, 0, 212);
     font-size: xx-large;
}