*{
     margin: 0px;
     padding: 0px;
}

#lake{
     width: 1535px;
     height: 710px;
     position: absolute;
     z-index: 1;
     background-image: url("img/lake-bg.jpg");
}

#sand1{
     width: 1535px;
     height: 710px;
     position: absolute;
     z-index: 5;
     background-image: url("img/sand-bg-1.png");
}

#sand2{
     width: 1535px;
     height: 710px;
     position: absolute;
     z-index: 3;
     background-image: url("img/sand-bg-2.png");
}

#fish1{
     width: 1535px;
     height: 180px;
     position: absolute;
     z-index: 2;
     top: 180px;
     background-image: url("img/fish-1.png");
}

#fish2{
     width: 1535px;
     height: 177px;
     position: absolute;
     z-index: 2;
     top: 0px;
     background-image: url("img/fish-2.png");
}


#tadpole{
     width: 100px;
     height: 50px;
     position: absolute;
     z-index: 6;
     top: 0px;
     right: 1400px;
     background-image: url("img/tadpole-left.png");
}

.dragonfly{
     width: 100px;
     height: 45px;
     position: absolute;
     z-index: 6;
     /* top: 650px;
     right: 0px; */
     background-image: url("img/dragonfly-right.png");
}